services:
  # Servicio para la base de datos MongoDB
  db-smartpot:
    image: sebastian190030/db-smartpot:latest
    container_name: smartpot-db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    env_file:
      - .env.db
    networks:
      - network
    labels:
      "docker_compose_diagram.icon": "mongodb"
      "docker_compose_diagram.cluster": "Database Layer"
      "docker_compose_diagram.description": "DB"

  # Servicio para cache de Redis
  cache-smartpot:
    image: sebastian190030/cache-smartpot:latest
    container_name: smartpot-cache
    ports:
      - "6379:6379"
    env_file:
      - .env.cache
    networks:
      - network
    labels:
      "docker_compose_diagram.icon": "redis"
      "docker_compose_diagram.cluster": "Cache Layer"
      "docker_compose_diagram.description": "DB Cache"

    # Servicio para correo de mailpit
  mail-smartpot:
    image: sebastian190030/mail-smartpot:latest
    container_name: smartpot-mail
    ports:
      - "8025:8025" # GUI port
      - "1025:1025" # SMTP Port
    env_file:
      - .env.mail
    command:
      - "--smtp-auth-file=/etc/mailpit/authfile"
      - "--smtp-auth-allow-insecure"
    networks:
      - network
    labels:
      "docker_compose_diagram.icon": "email"
      "docker_compose_diagram.cluster": "Mail Layer"
      "docker_compose_diagram.description": "Mail Service"

  # Servicio para la API
  api-smartpot:
    image: sebastian190030/api-smartpot:latest
    container_name: smartpot-api
    ports:
      - "8091:8091"
    depends_on:
      - db-smartpot
      - cache-smartpot
      - mail-smartpot
    env_file:
      - .env.api
    networks:
      - network
    labels:
      "docker_compose_diagram.icon": "api"
      "docker_compose_diagram.cluster": "Backend Layer"
      "docker_compose_diagram.description": "API REST"

  # Servicio para Proxy Python
  proxy-smartpot:
    image: sebastian190030/proxy-smartpot:latest
    container_name: proxy-smartpot
    ports:
      - "8092:8092"
    depends_on:
      - api-smartpot
    env_file:
      - .env.proxy
    networks:
      - network
    labels:
      "docker_compose_diagram.icon": "python"
      "docker_compose_diagram.cluster": "Backend Layer"
      "docker_compose_diagram.description": "API Proxy for Wokwi"
  
  # Servicio para la aplicación web
  web-smartpot:
    image: sebastian190030/web-smartpot:latest
    container_name: smartpot-web
    ports:
      - "5173:5173"
    depends_on:
      - api-smartpot
    env_file:
      - .env.web
    networks:
      - network
    labels:
      "docker_compose_diagram.icon": "react"
      "docker_compose_diagram.cluster": "Frontend Layer"
      "docker_compose_diagram.description": "Web App"

# Volúmenes
volumes:
  mongo_data:

# Red compartida
networks:
  network:
    driver: bridge
